html {
    font-size: 62, 5%;

}

body {
    font-size: 16px;
}
.info{
background: rgba(248, 102, 102, 0.65);
margin-bottom: 10px;
display: block;
font-weight: 800;
padding: 35px;
color: #fff;

}

.a {
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

}

.segundo {
    color: aqua;
    text-transform: capitalize;

}



h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;

}

[src="img/11641893944_banner_zona_centro.png"] {
    color: aqua;
    border: 6rem;


}

.Ejercicio>a {
    color: aqua;
    text-transform: lowercase;



}

.Locali{
background-color: black;
color: white;


}



.CONTENEDOR{
/* max-width: 88%;
margin-top: 0%;
margin-right: auto;
margin-bottom: 0;
margin-left: auto; */


}

.Fondomain{
    background-image:url(../img/11641893944_banner_zona_centro.png) ;
    background-size: cover;
    padding: 80px 0 180px;
    background-position: top left;
}


.Ejercicio p{
color: aqua;
}

#segundo [src="img/11641893944_banner_zona_centro.png"]{
    color: aqua;
}

^[src="https://exp014_20_ed_lote5.iformalia.es/Publico/Portal/htmls/AdeccoRedEs/LoginAlumno.aspx"]{
    border: 3rem;




/* ESTILO PARA EL MAIN */
/* ESTILO PARA LA SECCION DE IMAGEN DE CORPORACIONES */
/* ESTILO SECCION CURSOS */
/* ESTILO SECCION PIDENOSLO */
/* ESTILO SECCION VIDEO */
/* ESTILO SECCION PARA QUIEN SON ESTOS CURSOS */
/* ESTILOS LOCALIZACIONES CONTACTAR Y FOOTER; */
/* ESTILOS HEADER  */



